
.notification-error-explanation {
  list-style: disc inside;
}

.notification-error-explanation:only-child {
  list-style: none;
}

.dashed-list {
  list-style: none;
  padding-left: 0;
}

.dashed-list .dashed-list-item {
  margin-left: 15px;
  line-height: 1.8em;
}

/* Prevent nested li's from getting messed up */
.dashed-list .dashed-list-item::before {
  content: "- ";
  margin-left: -15px;
}