
.notification-error-explanation {
  list-style: disc inside;
}

.notification-error-explanation:only-child {
  list-style: none;
}

ul.dashed {
  list-style: none;
  padding-left: 0;
}

ul.dashed > li {
  margin-left: 15px;
}

/* Prevent nested li's from getting messed up */
ul.dashed > li::before {
  content: "- ";
  margin-left: -15px;
}