@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

@import 'lib/govuk-frontend/govuk/all';
@import 'partials/_step-by-step-navigation';
@import 'partials/_lists.scss';
@import 'partials/_layout.scss';

.text-right {
  text-align: right;
}

$govuk-assets-path: '/customs-movements/assets/';
$govuk-assets-path: "/customs-movements/assets/lib/govuk-frontend/govuk/assets/";
$govuk-images-path: "/customs-movements/assets/lib/govuk-frontend/govuk/assets/images/";
$govuk-fonts-path: "/customs-movements/assets/lib/govuk-frontend/govuk/assets/fonts/";
